<ion-app>
  <ion-menu menuId="menu1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu 1</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>


      <ion-button expand="block" fill="outline" (click)="toggleMenu('menu2')">
        Open 2</ion-button>
    </ion-content>
  </ion-menu>



  <!-- sign in menu -->
  <ion-menu menuId="menu2">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu 2</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <ion-button expand="block" fill="outline" (click)="toggleMenu('menu1')">
        Open 1</ion-button>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>